body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgb(246, 246, 246);
  }
  * {
      box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  ul,
  p {
    margin-top: 0;
    
  }
  
  img {
    width: 100%;
    display: block;
}
/* colors */
.red-box {
    background-color: rgb(255, 84, 68);
}
.purple-box {
    background-color: rgb(170, 45, 182);
}
.cyan-box {
    background-color: rgb(30, 194, 164);
}
.blue-box {
    background-color: rgb(39, 139, 224);
}
/* !!!! */
/* General sett */

/* !!!! */

/* nav bar */
nav {
    background-color: white;
    padding:20px 50px;
}
.hamburger {
    display: none;
}
.logo ul, .menu ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

}

.logo a {
    font-weight: 900;
}
.logo a, .menu a, .drop-btn {
    display: inline-block;
    text-decoration: none;
    color:rgb(48, 47, 47);
}

.menu li.drop-down {
    display: inline-block;

}
.menu ul li:not(:last-child){
    margin-right: 20px;
}
.inner-nav {
    display: flex;
    justify-content: space-between;
}
/* !!!! */

/* Drop down menu  */
.drop-div {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-div a {
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 12px 16px;
    color: black;
  }
  .drop-down:hover .drop-div {
    display: block;
  }

/* !!!! */

/* section 1 */
.section-1 {
    display: flex;
    min-height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1 h1, p {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.section-1 p {
    margin-bottom: 50px;
}
.btn a {
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    background-color: rgb(48, 47, 47);
}
/* !!!! */

/* Section 2 */
.section-2 {
    min-height: 50vh;
    background-color: white;
    display: flex;
    padding: 100px 150px;
    
}
.card p {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-weight: 500;
}
.card h2 {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    
}
.card {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     border-radius: 5px;
     box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3);

    
}

.card:not(:last-child) {
    margin-right: 30px;
}
/* !!! */

/* Section 3 */
.nav-box{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-box ul li {
    margin-bottom: 30px;
}
.nav-box ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

}
.nav-box h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 100px;
}
.nav-box ul li:not(:last-child){
    margin-right: 10px;
}
.nav-box a {
    text-decoration: none;
    color: rgb(48, 47, 47);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    box-shadow:0px 1px 5px 1px rgba(50, 50, 50, .3)


}
.nav-box a:hover{
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 0;
    
}
.deff a{
    background-color: black;
    color: white;
    border-radius: 0;
}
.img- h2 {
    margin-top:20px;
    font-size: 20px;
}
.img- {
    display: inline-block;
    background-color: white;
    text-align: center;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3);
    width:33.333%; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}
.inner2 {
    margin-bottom: 50px;
}
.inner1, .inner2 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-right: -30px;

}

.section-3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.section-3 h2, .section-4 h2{
    color: black;
}
/* !!!! */

/* section 4  */
.section-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
}

.title-box {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
hr {
    width: 5%;
    border-color: rgb(217, 217, 218);
    border-style: solid;

}
.box img {
    width: auto;
    display: inline-block;
    padding-right: 10px;
}

.box {
    display: flex;
    width: 33.33%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}
/* !!!! */
/* section 5 */
.section-5 {
    display: flex;
    background-color: rgb(48, 47, 47);
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-5 a {
    padding: 10px;
}
.section-5 a, h2 {
    color: white;
}
.inner-sec5 {
    text-align: center;
}
/* !!!! */
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
footer p {
    text-transform: none;
    color: white;
    font-weight: normal;
}
.left-cont p, .right-cont p {
    margin-bottom: 0;
    padding: 20px;
}

/* mobile  */

@media (max-width: 425px) {
    nav {
        padding: 20px 0px 20px 20px;
    }
    .menu {
        display: none;
    }
    .logo {
        align-self: center;
    }
    .hamburger {
        display: inline-block;
        margin-right: 10px;
    }
    .section-1 {
        text-align: center;
    }
    
    /* section 2  */
    .section-2 {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
    .card {
        padding:20px 100px;
        margin-bottom: 20px;
    }
    .card:not(:last-child) {
        margin-right: 0px;
    }
    .nav-box ul li:not(:last-child) {
        margin-right: 0;
    }
    .nav-box ul li{
        margin-bottom: 30px;
        padding-right: 5px;
    }
    .nav-box ul {
        flex-wrap: wrap;
    justify-content: center;
    }
    .img- {
        width: auto;
    }
    .inner1, .inner2 {
        display: block;
    }
    .title-box {
        text-align: left;
        width: 100%;
        margin: 50px;
    }
    .title-box h2 {
        text-transform: uppercase;
        text-align: center;
    }

    .box-hiden {display: none;}
    .box {
        width: 50%;
        line-height: 3rem;
        padding:0 30px 50px 30px;
    }
    .box p {
        margin: 0;
    }
    .fa-2x {
        font-size: 25px;
    }
    .icn {
        display: flex;
    }
    .left-cont p, .right-cont p {
        padding: 0;
        font-size: 10px;

    }
    footer {
        padding: 10px;
    }
}